{% extends '_layout.html' %}
{% block title %}
login
{% endblock %}
{% block content %}
<form
  method="post"
  id="signupForm"
  class="bg-slate-400 w-100 px-5 border-2 border-gray-900 py-3 rounded-3 h-100 my-4"
>
  {% csrf_token %}
  <div>
    <label class="block text-center font-weight-bold text-lg">Email</label>
    {{ form.username }}
  </div>
  <div>
    <label class="block text-center font-weight-bold text-lg">Password</label>
    {{ form.password }}
      {% if form.password.error_messages %}
          <small class="text-red-400">
          {{ form.password.error_messages }}
          </small>
      {% endif %} 
  </div>
  <div class="flex items-baseline justify-center">
    <a
      href="{% url 'register' %}"
      class="text-decoration-none text-gray-800 hover:text-gray-900 font-bold py-2 px-4 rounded"
    >
      Don't Have an account? Register
    </a>
  </div>
  <div class="flex items-baseline justify-center">
    <input type="submit" value="Login"
       class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900"
    >
  </div>
</form>
{% endblock %}